* {
    box-sizing: border-box;
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.error {
    color: var(--color-danger);
}

.main-agradecimento {
    margin-top: 7rem;
    /* Espaço para o header fixo */
}

.content-agradecimento {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--spacing-md);
    gap: var(--spacing-md);
}

.header-agradecimento {
    border-radius: var(--border-radius);
    padding: var(--spacing-sm) 0;
}


.text-agradecimento {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: var(--font-size-md);
    font-weight: var(--weight-semibold);
}

.agradecimento-title {
    text-align: center;
}

.text-agradecimento p {
    text-indent: 1.5em;
}

.container-pedido {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #eeee;
    border-radius: var(--border-radius);
    padding: var(--spacing-md);
    box-shadow: var(--sombra-card);
    background-color: #eeeeee;
}

.grid-pedido-content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: var(--spacing-md);
}

.info-cliente-pedido {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    background-color: var(--text-light);

}

.info-cliente-pedido h3 {
    padding: 0 var(--spacing-md);
}



.row-info {
    display: grid;
    grid-template-columns: auto 2fr auto;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    box-shadow: var(--sombra-card);
    border-radius: var(--border-radius);

}


.icon-status i {
    font-size: var(--font-size-lg);
    filter: drop-shadow(2px 2px 2px #c4c4c7);
    transition: filter 0.3s ease;
}

.icon-status i:hover {
    filter: brightness(1.1);
}

.button-editar i {
    font-size: var(--font-size-md);
    color: var(--color-info);
}

.button-editar i:hover {
    color: var(--text-dark);
}


.button-editar a {
    text-decoration: none;
    color: var(--color-info);
    transition: color 0.3s ease;
}


.button-editar a:hover {
    text-decoration: underline;
    transition: color 0.3s ease;
}


.infos-meio {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}



.info-pedido-produtos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--text-light);
    border-radius: var(--border-radius);
}

.informacoes_pedido {
    display: flex;
    flex-direction: column;
    grid-column: 3 / 2;
    gap: var(--spacing-md);
    padding: var(--spacing-md);

}


.info-pedido {
    display: flex;
    align-items: center;
    /* Alinha os itens verticalmente ao centro */
    gap: var(--spacing-sm);
    /* Adiciona um espaço entre os elementos */
}



.info-pedido span {
    font-size: var(--font-size-xs);
    font-weight: var(--weight-semibold);
    color: var(--color-info);
    padding: var(--spacing-xs);
    border-radius: var(--border-radius);
}

.detalhes-pedido {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: var(--spacing-xs);
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--text-light);
    box-shadow: var(--sombra-card);
}

.nome_price-produto {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    white-space: normal;

}


.imagem-produto {
    width: 100px;
    height: 150px;
    border-radius: var(--border-radius);
}

.imagem-produto img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.subtotal-pedido {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    background-color: var(--text-light);
    box-shadow: var(--sombra-card);
}

.total-pedido {
    display: flex;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    background-color: var(--text-dark);
    box-shadow: var(--sombra-card);
    color: var(--text-light);
}

.preco-total {
    font-size: var(--font-size-md);
    font-weight: var(--weight-semibold);
}

.confirmacao-info {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-md);
  border-radius: var(--border-radius);
  color: var(--text-dark);
}

.input-aceite {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm);
}

.input-aceite div {
  /* Contêiner individual para cada input e label */
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: var(--spacing-xs); /* Espaço entre o input e o texto do label */
}

.input-aceite input[type="radio"] {
  /* Estilização básica do input de rádio */
  margin: 0;
  cursor: pointer;
}

.input-aceite label {
  /* Estilização do texto do label */
  font-size: var(--font-size-sm);
  cursor: pointer;
  line-height: 1.5; /* Melhora a legibilidade */
}


.aceite-informacoes {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  align-items: center;

}

.btn-compraFinal {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  padding: var(--spacing-md);
  cursor: pointer;
  font-size: var(--font-size-md);
  font-weight: var(--weight-semibold);
  transition: background-color 0.3s ease;
}

.btn-compraFinal:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  transition: background-color 0.3s ease;
}


/* Media query para telas menores que 768px (smartphones e tablets) */
@media screen and (max-width: 768px) {
  .content-agradecimento {
    padding: 0 var(--spacing-xs);
    
    }

    .agradecimento-p {
        text-align: justify;
    }

    .container-pedido {
        padding: 0;
        margin: 0 auto;
        max-width: 100%;
    }

    .grid-pedido-content {
        display: flex;
        flex-direction: column;
        
    }

    .info-cliente-pedido {
        padding: var(--spacing-sm);
    }

    .row-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacing-sm);
        padding: var(--spacing-md);
        box-shadow: var(--sombra-card);
        border-radius: var(--border-radius);
    }

    /* Resumo do pedido */

    .info-pedido {
        padding: var(--spacing-xs);
    }

    .detalhes-pedido {
        grid-template-columns: 1fr;
        padding: var(--spacing-sm);
        justify-items: center;
    
    }

    .total-pedido {
        gap: var(--spacing-xs);
        flex-direction: column;
        align-items: center;
        padding: var(--spacing-md);
        
    }



}


@media screen and (min-width: 768px) {
  .content-agradecimento {
    padding: 0 var(--spacing-xs);
    
    }

    .agradecimento-p {
        text-align: justify;
    }

    .container-pedido {
        padding: 0;
        margin: 0 auto;
        max-width: 100%;
    }

    .grid-pedido-content {
        display: flex;
        flex-direction: column;
        
    }

    .row-info {
        justify-content: center;
    }

    



}